<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link href="/{{htmlWebpackPlugin.options.main}}.css" rel="stylesheet"></head>
  </head>
  <body>
    <div class="flex flex-col h-full">
      {{{htmlWebpackPlugin.options.header}}}
      {{{htmlWebpackPlugin.options.page}}}
      {{{htmlWebpackPlugin.options.footer}}}
    </div>
  </body>
</html>
