<section id="stats" class="supported-currencies mt-6 flex-grow">
  <h2>Supported currencies</h2>
  <div id="currencies" class="container flex flex-wrap justify-center mx-auto">
    {{#each stats}}
      <div class="currency w-full md:w-1/2 lg:w-1/3 xl:w-1/4" style="background-image:url({{imageUrl}})">
        <h3>{{currency}}</h3>
        <div class="statistics">
          <div class="stats-table">
            <div class="stats-row">
              <span class="stats-key">Last update</span>
              <span class="stats-value">{{{lastUpdate}}}</span>
            </div>
            <div class="stats-row">
              <span class="stats-key">Latest&nbsp;block</span>
              <span class="stats-value">{{latestBlock}}</span>
            </div>
            <div class="stats-row">
              <span class="stats-key">Transactions</span>
              <span class="stats-value">{{noTransactions}}</span>
            </div>
            <div class="stats-row">
              <span class="stats-key">Addresses</span>
              <span class="stats-value">{{noAddresses}}</span>
            </div>
            <div class="stats-row">
              <span class="stats-key">Entities</span>
              <span class="stats-value">{{noClusters}}</span>
            </div>
            <div class="stats-row">
              <span class="stats-key">Tags</span>
              <span class="stats-value">{{noLabels}}</span>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>
